<div class="footer">
    <div class="pull-right">
        By：<a href="http://www.zi-han.net" target="_blank">zihan's blog</a>
    </div>
    <div>
        <strong>Copyright</strong> H+ &copy; 2014
    </div>
</div>

<!-- 全局js -->
<script src="__H__/js/jquery.min.js?v=2.1.4"></script>
<script src="__H__/js/bootstrap.min.js?v=3.3.6"></script>



<!-- 自定义js -->
<script src="__H__/js/content.js?v=1.0.0"></script>


<!-- Flot -->
<script src="__H__/js/plugins/flot/jquery.flot.js"></script>
<script src="__H__/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="__H__/js/plugins/flot/jquery.flot.resize.js"></script>

<!-- ChartJS-->
<script src="__H__/js/plugins/chartJs/Chart.min.js"></script>

<!-- Peity -->
<script src="__H__/js/plugins/peity/jquery.peity.min.js"></script>

<!-- Peity demo -->
<script src="__H__/js/demo/peity-demo.js"></script>
<script src="__H__/js/plugins/sweetalert/sweetalert.min.js"></script>
